@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.body{
    font-family: 'Lato', sans-serif;
    color: white;
}

.navbar .navbar-nav .nav-link{
    padding: 0 25px;
}



section{
    margin-bottom: 35px;
}

.theme-color{
    background-color: #213769;
}


header i{
    padding: 0 15px;
}



.bg-image3{
    background: url(/images/sec\ 6\ pic\ 1.png) no-repeat right top;
    background-size: 30em;
}

/* #region card */
.block{
    position: relative;
}

.overlay{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    background-color: rgb(33, 35, 105);
    border-radius: 0 0 25px 25px;
    top: 55%;
    width: 100%;
    height: 40%;
    padding-top: 5%;
}

.block:hover .overlay{
    opacity: 1;
}

.overlay ul li{
    list-style: none;
    padding: 0 8px;
}

/* #endregion */

@media (min-width: 992px) {
    .navbar .container-fluid {
        padding-left: 100px;
    }

    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: 2px solid lightgrey;
    }

}

@media (max-width: 991px){
    .collapse ul li{
        margin-bottom: 5px;
    }
}